@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
/* HEADERS */
/* HEADERS */
.second-header{
  z-index: 5;
  top: 0%;
  position: static;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px; 
  width: 100vw;
}
.donar{
  background-color: rgb(226, 166, 176);
}
.donar:hover{
  background-color: whitesmoke;
  color: grey;
}
.patrocinar{
  background-color: rgb(95, 196, 162);
}
.patrocinar:hover{
  background-color: whitesmoke;
  color: grey;
}
.ta{
  background-color:rgb(230, 177, 113);
}
.ta:hover{
  background-color: whitesmoke;
  color: grey;
}
.second-header{
  background-color: rgba(51, 62, 71, 0.362);
  backdrop-filter: blur(20px);
  height: 65px;
  justify-content:center;
}
.nav-list{
  display: flex;
  list-style: none;
}
header ul a{
text-decoration: none;
margin: 5px;

color: rgb(245, 245, 245);
}
.donar,.patrocinar,.ta{
  padding: 15px 30px;
  transition: all .5s;
}
.logo{
  height:80px;
}
.item{
  margin: 0;
  padding: 22px 40px;
  
  transition: all .5s;
}
.item:hover{
  color: goldenrod;
  border-bottom: 5px solid goldenrod;
}
.redes{
position: fixed;
  display: table-row;
  align-items: center;
  right: 1%;
  bottom: 2%;
  
}
#red{
  list-style: none;
  margin: 2px;
  padding: 0;
}
.logo-red{
  margin: 5px;
  cursor: pointer;
  width: 35px;
}

/*CABECERA*/
.cabecera{
    font-size: 20px;
    margin: 5%;
    padding: 2px;
}
#parrafo{
    margin: 5px;
    padding: 2px;
    font-size: 18px;
}
#consideraciones{
    margin: 5%;
    padding: 2px;
}

 /*OTRAS TARJETAS*/
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  section {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items:start;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .column {
    width: 100%;
    padding: 0 1em 1em 1em;
    text-align: center;
  }
  .card {
    width: 100%;
    height: 100%;
    padding: 2em 1.5em;
    background: linear-gradient(#ffffff 50%, rgb(230, 177, 113) 50%);
    background-size: 100% 200%;
    background-position: 0 2.5%;
    border-radius: 5px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: 0.5s;
  }
  h3 {
    font-size: 25px;
    font-weight: 600;
    color: #1f194c;
    margin: 1em 0;
  }
  p {
    color: #575a7b;
    font-size: 17px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  /*.icon-wrapper {
    background-color: rgb(230, 177, 113);
    position: relative;
    margin: auto;
    font-size: 30px;
    height: 2.5em;
    width: 2.5em;
    color: #ffffff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    transition: 0.5s;
  }*/
  .card:hover {
    background-position: 0 100%;
  }
  /*.card:hover .icon-wrapper {
    background-color: #ffffff;
    color: rgb(230, 177, 113);
  }*/
  .card:hover h3 {
    color: #ffffff;
  }
  .card:hover p {
    color: #f0f0f0;
  }
  /*PIE DE PÁGINA*/ 
.pie-pagina{
  margin-top: 5%;
  border-top-right-radius: 20px;
  width: 90%;
  background-color: #5d6061;
  }
.pie-pagina .grupo-1{
      width: 100%;
      max-width: 1200px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 50px;
      padding: 45px 0px;
  }
.pie-pagina .grupo-1 .caja figure{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
.pie-pagina .grupo-1 .caja figure img{
      width: 250px;
  }
.pie-pagina .grupo-1 .caja h4{
      color: #fff;
      margin-bottom: 25px;
      font-size: 20px;
  }
.pie-pagina .grupo-1 .red-social a{
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: rgb(158, 152, 152);
      margin-right: 10px;
      background-color: #787a7c;
      text-align: center;
      transition: all 300ms ease;
  }
.pie-pagina .grupo-1 .red-social a:hover{
      color: #faac18;
  }
.pie-pagina .grupo-1 .caja ul {
      list-style: none;
      line-height: 30px;
  }
.pie-pagina .grupo-1 .caja a{
      color: #fff;
      text-decoration: none;
  }
.pie-pagina .grupo-2{
  width: 100%;
  text-align: center;
      color: #fff;
      align-items: center;
      justify-content: center;
  
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 0 2em;
    }
    .column {
      flex: 0 50%;
      max-width: 50%;
    }
  }
  @media screen and (min-width: 992px) {
    section {
      padding: 1em 3em;
    }
    .column {
      flex: 0 0 33.33%;
      max-width: 33.33%;
    }
  }



/*TARJETAS
:root{
	--white-text:#fff;
	--background:#c8e8f1;
	--black-text:rgb(68, 66, 66)	
	/*--prueba: (180deg,#21c8f6,#637bff);
}

.background1-left-column{
	background: linear-gradient(180deg,#f6c421,#ee7d20);
}

/*.cuerpotarjetas{
    margin: 0px;
    padding: 0px;
    display: grid;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
	justify-content: start;
    align-items: flex-start;
   
}

.card {
	background-color:var(--white-text);
	border-radius: 1rem;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	display: flex;	
	margin: 1.5rem;
	overflow: hidden;
	width: 30rem;
	height: 19rem;
}


.card  h2 {
	letter-spacing: .1rem;
	margin: 1rem 0;
	color: var(black-text);
}

.left-column {	
	color: var(--white-text);
	padding: 2rem;
	max-width: 10rem;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.left-column h2{
	color: var(--white-text);
}

.left-column i {
	font-size: 5rem
}

.right-column {
	padding: 30px;
	width: 100%;
	display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.right-column p{	
	font-size: .9rem;
	color: var(--black-text)
    
}

/*media queries

@media (max-width: 1030px) {
	.container{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height:auto;
	}
  }
  */


 