@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* SELECTORES GENERALES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    max-width: 100vw !important;
}

/* HEADERS */
.bars-menu input[type="checkbox"], .bars-menu .fa-bars, .bars-menu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
  }
  
  .bars-menu .fa-bars, .bars-menu .fa-times {
    font-size: 48px;
    margin: auto;
    pointer-events: none;
    color: rgba(229, 229, 229, 0.885);
  }
  
  .bars-menu input[type="checkbox"] {
    opacity: 0;
  }
.bars-menu nav {
border-radius: 10px;
width: 200px;
position: absolute;
top:60px;
width: 50vw;
height: max-content;
background-color: rgba(27, 27, 27, 0.761);
backdrop-filter: blur(20px);
margin: 0;
  }
  
  .bars-menu input:not(:checked) ~ nav {
    display: none;
  }
  
  .bars-menu input:checked ~ .fa-bars {
    display: none;
  }
  
  .bars-menu input:not(:checked) ~ .fa-times {
    display: none;
  }
.bars-menu{
transition: all .5s;
justify-content: space-around;
align-items: center;
position: relative;
top: 8%;
color: white;
position: relative;
min-height: 48px;
    color: inherit;
    text-decoration: none;
    display: none;
    max-width: 200px;
    min-width: 20%;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
  }
.bars-menu ul{
    text-decoration: none;
    list-style: none;
}
.bars-menu li {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 2%
}
.second-header{
    z-index: 5;
    top: 0%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px; 
    width: 100%;
}
.donar{
    background-color: rgb(226, 166, 176);
}
.donar:hover{
    background-color: whitesmoke;
    color: grey;
}
.patrocinar{
    background-color: rgb(95, 196, 162);
}
.patrocinar:hover{
    background-color: whitesmoke;
    color: grey;
}
.ta{
    background-color:rgb(230, 177, 113);
}
.ta:hover{
    background-color: whitesmoke;
    color: grey;
}
.second-header{
    background-color: rgba(51, 62, 71, 0.362);
    backdrop-filter: blur(20px);
    height: 65px;
    justify-content:center;
}
.nav-list{
    display: flex;
    list-style: none;
    font-size: calc(.8vw + .2rem);
}
header ul a{
text-decoration: none;
margin: auto;
display: flex;
max-height: 15px;

color: rgb(245, 245, 245);
}
.donar,.patrocinar,.ta{
    justify-content: center;
    align-items: center;
    padding: 15px calc(1vw + .2rem);
    margin: 1px;
    transition: all .5s;
}
.logo{
    height:80px;
}
.item{
    margin: 0;
    padding: 22px 40px;
    
    transition: all .5s;
}
.item:hover{
    color: goldenrod;
    border-bottom: 5px solid goldenrod;
}
.redes{
position: fixed;
    display: table-row;
    align-items: center;
    right: 2%;
    bottom: 1%;
    height: 200px;
    width: 40px;
    
}
#red{
    list-style: none;
    margin: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.logo-red{
    margin: 2px;
    cursor: pointer;
    width: 35px;
    height: 35px;
}
/* MAIN PAGE */
.container{
    padding: 2%;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 90%;
    margin: auto ;
    background-color: rgba(115, 151, 197, 0.519);
    border-radius: 20px;
}
h1{
    display: flex;
    margin: 5rem;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: rgb(227, 164, 87);
}
.quien{
    margin: 2%;
    width: 50%;
}
.container > img{
width: 40%;
min-width: 300x;
height: auto;
border-radius: 10px;
}
.quien > *{
    margin: 1.5%;
}
.quien > p{
    font-size: 1.1rem;
    color: rgb(27, 27, 27);
}
.quien > h2{
    color: whitesmoke;
}

.marcas {
    margin: 2rem 0;
}

#logos {
    display: flex;
    justify-content: space-evenly;
}

#logos img {
    width: 180px;
}
/*PIE DE PÁGINA*/ 
.pie-pagina{
    margin-top: 2%;
    border-top-right-radius: 20px;
    width: 90%;
    background-color: #5d6061;
    }
.pie-pagina .grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }
.pie-pagina .grupo-1 .caja figure{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.pie-pagina .grupo-1 .caja figure img{
        width: 250px;
    }
.pie-pagina .grupo-1 .caja h4{
        color: #fff;
        margin-bottom: 25px;
        font-size: 20px;
    }
.pie-pagina .grupo-1 .red-social a{
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: rgb(158, 152, 152);
        margin-right: 10px;
        background-color: #787a7c;
        text-align: center;
        transition: all 300ms ease;
    }
.pie-pagina .grupo-1 .red-social a:hover{
        color: #faac18;
    }
.pie-pagina .grupo-1 .caja ul {
        list-style: none;
        line-height: 30px;
    }
.pie-pagina .grupo-1 .caja a{
        color: #fff;
        text-decoration: none;
    }
.pie-pagina .grupo-2{
    width: 100%;
    position: relative;
    bottom: 1%;
    text-align: center;
        color: #fff;
        align-items: center;
        justify-content: center;
    
        
    }
    /* MEDIA QWERTYS */
/* HEADERS */
@media only screen and (max-width: 500px)
{
.second-header{
    justify-content: space-around;
    align-items: center;
}
    .nav-list{
        display: none;
    }
    #bars-menu{
        display:flex;
        position: relative;
    }

  /*PIE DE PÁGINA*/ 
.pie-pagina{
  margin-top: 5%;
  width: 100%;
  }
.pie-pagina .grupo-1{
      width: 100vw;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      padding: 45px 0px;
  }
.pie-pagina .grupo-1 .caja figure{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
.pie-pagina .grupo-1 .caja figure img{
      width: 150px;
  }
.pie-pagina .grupo-1 .caja h4{
      color: #fff;
      margin-bottom: 25px;
      font-size: 16px;
  }
/* MAIN PAGE */
.container{
  
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    background-color: white;
}
h1{
    display: flex;
    margin: 5rem;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: rgb(227, 164, 87);
}
.quien{
    margin: 1%;
    width: 90%;
}
.container > img{
width: 90%;
min-width: 300x;
height: auto;
border-radius: 10px;
}
.quien > *{
    margin: 1.5%;
}
.quien > p{
    font-size: 1.1rem;
    color: rgb(27, 27, 27);
}
.quien > h2{
    margin: 5%;
    color: rgb(0, 0, 0);
}
}
/* Tablets */
@media only screen and (min-width:501px) and (max-width:1200px)
{
.second-header{
  justify-content: space-around;
  align-items: center;
}
  .nav-list{
      display: none;
  }
  #bars-menu{
      display:flex;
      position: relative;
  }
  /* MAIN PAGE */
.container{
  
    display: flex;
    flex-wrap: wrap-reverse;
    width: 100%;
    background-color: white;
}
h1{
    display: flex;
    margin: 5rem;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: rgb(227, 164, 87);
}
.quien{
    margin: 1%;
    width: 90%;
}
.container > img{
width: 90%;
min-width: 300x;
height: auto;
border-radius: 10px;
}
.quien > *{
    margin: 1.5%;
}
.quien > p{
    font-size: 1.1rem;
    color: rgb(27, 27, 27);
}
.quien > h2{
    margin: 5%;
    color: rgb(0, 0, 0);
}
  }
