@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400&family=Roboto+Mono:wght@200;300;400&family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
/* SELECTORES GENERALES */
*{  margin: 0;
    padding: 0;
    font-family:sans-serif;
    scroll-behavior: smooth;}
* h1{
    font-size: 3.5rem;
    font-family: 'Caveat', cursive;
}
/* HEADERS */
.bars-menu input[type="checkbox"], .bars-menu .fa-bars, .bars-menu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
  }
  
  .bars-menu .fa-bars, .bars-menu .fa-times {
    font-size: 48px;
    margin: auto;
    pointer-events: none;
    color: rgba(229, 229, 229, 0.885);
  }
  
  .bars-menu input[type="checkbox"] {
    opacity: 0;
  }
.bars-menu nav {
border-radius: 10px;
width: 200px;
position: absolute;
top:60px;
width: 50vw;
height: max-content;
background-color: rgba(27, 27, 27, 0.761);
backdrop-filter: blur(20px);
margin: 0;
  }
  
  .bars-menu input:not(:checked) ~ nav {
    display: none;
  }
  
  .bars-menu input:checked ~ .fa-bars {
    display: none;
  }
  
  .bars-menu input:not(:checked) ~ .fa-times {
    display: none;
  }
.bars-menu{
transition: all .5s;
justify-content: space-around;
align-items: center;
position: relative;
top: 8%;
color: white;
position: relative;
min-height: 48px;
    color: inherit;
    text-decoration: none;
    display: none;
    max-width: 200px;
    min-width: 20%;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
  }
.bars-menu ul{
    text-decoration: none;
    list-style: none;
}
.bars-menu li {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 2%
}
.second-header{
    z-index: 5;
    top: 0%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px; 
    width: 100%;
}
.donar{
    background-color: rgb(226, 166, 176);
}
.donar:hover{
    background-color: whitesmoke;
    color: grey;
}
.patrocinar{
    background-color: rgb(95, 196, 162);
}
.patrocinar:hover{
    background-color: whitesmoke;
    color: grey;
}
.ta{
    background-color:rgb(230, 177, 113);
}
.ta:hover{
    background-color: whitesmoke;
    color: grey;
}
.second-header{
    background-color: rgba(51, 62, 71, 0.362);
    backdrop-filter: blur(20px);
    height: 65px;
    justify-content:center;
}
.nav-list{
    display: flex;
    list-style: none;
    font-size: calc(.8vw + .2rem);
}
header ul a{
text-decoration: none;
margin: auto;
display: flex;
max-height: 15px;

color: rgb(245, 245, 245);
}
.donar,.patrocinar,.ta{
    justify-content: center;
    align-items: center;
    padding: 15px calc(1vw + .2rem);
    margin: 1px;
    transition: all .5s;
}
.logo{
    height:80px;
}
.item{
    margin: 0;
    padding: 22px 40px;
    
    transition: all .5s;
}
.item:hover{
    color: goldenrod;
    border-bottom: 5px solid goldenrod;
}
.redes{
position: fixed;
    display: table-row;
    align-items: center;
    right: 2%;
    bottom: 1%;
    height: 200px;
    width: 40px;
    
}
#red{
    list-style: none;
    margin: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.logo-red{
    margin: 2px;
    cursor: pointer;
    width: 35px;
    height: 35px;
}
.shop-nav{
    list-style: none;
    position: fixed;
    display: table-row;
    align-items: center;
    left: 1%;
    top: 15%;
    width: 8%;

}
.shop-nav a{
    text-decoration: none;
}
.shop-nav li{
font-size: 1.2rem;
font-weight: bold;
width: max-content;
padding: 10%;
color: #faac18;
}
.shop-nav img{
width: 20px;

}
/* principal */
.product-container{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 75px;
}
.producto-principal{
    position: static;
    width: 35%;
    height: 100%;
    margin-bottom: 5%;
    border-radius: 10px;
    margin-left: 15%;
    border: 2px solid black;
    overflow: scroll;
}
.activa{
    border-radius: 10px;
    margin: auto;
    width: 90%;
    height: auto;
}
.miniaturas{
    justify-content: space-evenly;
    position: relative;
    bottom: 5%;
    display: flex;
    width: 100%;
    overflow-x: scroll;
    height: 10%;
    margin: auto;
    
}
.inactiva{
    width: 100px;
    border: .2px rgb(61, 61, 61) solid;
    border-radius: 5px;
}
.detalles-container{
    width: 40%;
    justify-content: center;
    align-items: center;
}
.titulo{
    margin: 5%;
    margin-top: 10%;
    align-items: center;
    color: #faac18;
}
.titulo h2{
    margin: 2%;
}
.titulo p{
    margin: 2%;
    margin-top: 5%;
}
.detalles-container button{
    margin: 5%;
    margin-top: 20%;
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    padding: 1%;
    background-color: #faac18;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: all .5s;
}
.detalles-container button:hover{
    color: #faac18;
    background-color: rgb(239, 239, 239);
}
.icon-cart{
    width: 40px;
}
/*PIE DE PÁGINA*/ 
.pie-pagina{
    margin-top: 2%;
    border-top-right-radius: 20px;
    width: 90%;
    background-color: #5d6061;
    }
.pie-pagina .grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }
.pie-pagina .grupo-1 .caja figure{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.pie-pagina .grupo-1 .caja figure img{
        width: 250px;
    }
.pie-pagina .grupo-1 .caja h4{
        color: #fff;
        margin-bottom: 25px;
        font-size: 20px;
    }
.pie-pagina .grupo-1 .red-social a{
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: rgb(158, 152, 152);
        margin-right: 10px;
        background-color: #787a7c;
        text-align: center;
        transition: all 300ms ease;
    }
.pie-pagina .grupo-1 .red-social a:hover{
        color: #faac18;
    }
.pie-pagina .grupo-1 .caja ul {
        list-style: none;
        line-height: 30px;
    }
.pie-pagina .grupo-1 .caja a{
        color: #fff;
        text-decoration: none;
    }
.pie-pagina .grupo-2{
    width: 100%;
    text-align: center;
        color: #fff;
        align-items: center;
        justify-content: center;
    
        
    }
    /* MEDIA QWERTYS */
/* HEADERS */
@media only screen and (max-width: 500px)
{
.second-header{
    justify-content: space-around;
    align-items: center;
}
    .nav-list{
        display: none;
    }
    #bars-menu{
        display:flex;
        position: relative;
    }

/* PAGINA PRINCIPAL */
 .carrousel{
    width: 100vw;
    height: 40vh;
    margin-left: 0%;
    margin-bottom: 100px;
}
.carrousel .grande{
    margin-left: -100%;
    width: 300%;
    height: 40vh;
}
.carrousel .imgs{
    width: 100%;
    height: 40vh;
} 


.sliders{
display: none;
}
.main-1{
    line-height: 2.5rem;
    color: whitesmoke;
    width: 50%;
    margin: 4%;
  
}
.segunda{
  
    flex-wrap: nowrap;
}
.main-2{
    line-height: 2.5rem;
    width: 50%;
}
.abby{
    border-radius: 50%;
    height: 40%;
}
.tit{
margin-top: 70px;
font-size: 2rem;
}
.tit-2{
font-size: 1rem;
}
.tercera{
    background-position-x:100%;
    background-position-y: 40%;
    background-image: url(./assets/fondo-3.webp);
    background-size: cover;
}
.shop-nav{
    list-style: none;
    position: fixed;
    display: table-row;
    align-items: center;
    left: 1%;
    top: 15%;
    width: 6%;
}
.shop-nav li{
font-size: 1rem;
margin: 2%;
backdrop-filter: blur(20px);
background-color: rgba(210, 210, 210, 0.375);
border-radius: 20px;
padding: 20%;
}
.shop-nav{
left: 2%;
top: 20%;
}
/*PIE DE PÁGINA*/ 
.pie-pagina{
    margin-top: 5%;
    width: 100%;
    }
.pie-pagina .grupo-1{
        width: 100vw;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 45px 0px;
    }
.pie-pagina .grupo-1 .caja figure{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.pie-pagina .grupo-1 .caja figure img{
        width: 150px;
    }
.pie-pagina .grupo-1 .caja h4{
        color: #fff;
        margin-bottom: 25px;
        font-size: 16px;
    }
    #montos button {
    
        width: 40%;

    }
}
/* Tablets */
@media only screen and (min-width:501px) and (max-width:1200px)
{
.second-header{
    justify-content: space-around;
    align-items: center;
}
    .nav-list{
        display: none;
    }
    #bars-menu{
        display:flex;
        position: relative;
    }
    .carrousel{
        width: 100vw;
        height: 60vh;
        margin-left: 0%;
        margin-bottom: 100px;
    }
    .carrousel .grande{
        margin-left: -100%;
        width: 300%;
        height: 60vh;
    }
    .carrousel .imgs{
        width: 100%;
        height: 60vh;
    }
    
    
    .sliders{
    display: none;
    }
    .main-1{
        line-height: 2.5rem;
        color: whitesmoke;
        width: 50%;
        margin: 4%;
      
    }
    .segunda{
      
        flex-wrap: nowrap;
    }
    .main-2{
        line-height: 2.5rem;
        width: 50%;
    }
    .abby{
        border-radius: 50%;
        height: 60%;
    }
    .tit{
        margin-top: 70px;
    font-size: 2.5rem;
    }
    .tit-2{
    font-size: 1.5rem;
    }
    .tercera{
        background-position-x:100%;
        background-position-y: 40%;
        background-image: url(./assets/fondo-3.webp);
        background-size: cover;
    }
    .shop-nav li{
        margin: 2%;
        backdrop-filter: blur(20px);
        background-color: rgba(210, 210, 210, 0.375);
        border-radius: 20px;
        padding: 20%;
        }
        .shop-nav{
        left: 1%;
        top: 20%;
        }
}